body {
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.main-content {
  padding: 2rem;
  flex-grow: 1;
}

.dashed-border-box {
  border: 2px dashed black;
  border-radius: 15px;
  padding: 2rem;
  background-color: #fdf5e6;
  
}

.btc-price-box,
.eth-price-box,
.ada-price-box {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}